<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Medicine Donation </title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="../static/CSS/home.css" />
    <link rel="stylesheet" href="../static/CSS/Footer.css" />
    <link rel="stylesheet" href="../static/CSS/navbar_style.css" />
    <link rel="stylesheet" href="../static/CSS/cards.css" />
    <link rel="stylesheet" href="../static/CSS/login.css" />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

        <script src="../static/JAVASCRIPT/login.js"></script>
      


</head>

<body>

    <!-- NAVBAR...........AND LOGO........... -->
    <header>
        <div class="Logo1">
            <img src="../static/pictures/logo.jpeg" alt="MDS">
             <p>GiveMed</p>
        </div>
        <!-- <p class="Logo">Medicine Donation System</p> -->
        <!-- <input type="checkbox" name="" class="btn" /> -->

        <div class="nav">
            <ol>
                <li><a href="index.html">Home</a></li>
                <li><a href="#aboutheading">About</a></li>
                <li><a href="./adminlogin.html">Admin</a></li>
                <li><a href="./contact.html">Contact</a></li>
                <li><a href="./Registerpage.html">Register</a></li>
            </ol>
        </div>
    </header>
    <!-- NAVBAR...........AND LOGO........... -->


    <!-- HOME CONTENT............ -->
    <section id="home">
        <h1 class="hprimary">Welcome to GiveMED</h1>
        <p>"GiveMed - 'Give the Gift of Health', is a compassionate platform that enables you to make a profound impact on the well-being of others through meditation donations."</p>
        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p> -->
        <button id="btn"><a href="./Registerpage.html">Donate Now</a></button>
    </section>
    <!-- <section id="home1">
        <h1 class="hhprimary"></h1>
    </section> -->

    <!-- HOME CONTENT............ -->
    <!-- LOGIN FORM.......... -->
    <!-- <p class="heading">Register</p> -->

    <section class="form">
        <div class="container">
            <!-- <p class="heading">Login in</p> -->
            <div class="box">
                <p>Email</p>
                <div>
                    <input type="email" name="" id="email" placeholder="Enter Your Email">
                </div>
            </div>
            <div class="box">
                <p>Password</p>
                <div>
                    <input type="password" name="" id="pwd1" placeholder="Enter Your Password">
                </div>
            </div> 
            <div class="box1">
                <div>
                    <input type="submit" value="Login" class="loginBtn" onClick="login()" />      
                </div>
            </div> 
            <!-- <input type="submit" value="Reset" onclick="clearFunc()" class="loginBtn" /> -->
            <!-- <input type="submit" value="Login" class="loginBtn" onClick="login()" /> -->
            <!-- <button class="loginBtn">Login</button>  -->
        </div>
        <!-- <div class="loginn">
            <input type="submit" value="Login" class="loginBtn" onClick="login()" />
        </div> -->

    </section>
    
    
        <!-- LOGIN FORM.......... -->


    <!-- CARDS.............. -->
    <section id="aboutheading">
        <!-- <h1>About Us</h1> -->
    </section>
    <section class="mission">
        <h2>OUR MISSION</h2>
        <p>This medicine donator project is to prepare a portal for the collection of unused medicines for further utilization by a needy people.</p>
        <p>The Website will aloow users to donate the unused medicine to NGO. Then NGO can help needy people.</p>
    </section>
    <section class="problem">
        <h2>PROBLEMS</h2>
        <h5>Why we came up with this idea?</h5>
    </section>
    <section id="about">
        <!-- <h1>About Us</h1> -->
        <div class="card">
            <div class="icon">
                <i class="fas fa-heart"></i>
            </div>
            <h4>Leftover Medicines</h4>
            <p>India generates around three million tonnes of medical wastes every year and the amount is expected to grow at 8 %  annually.
            </p>
        </div>
        <div class="card">
            <div class="icon">
                <i class="fas fa-heart"></i>
            </div>
            <h4>Poor people</h4>
            <p>A major population of our country lives in slums in unhygienic conditions, which becomes the foremost cause of ailments among the poor. These people do not have the resources to seek appropriate and affordable treatments.
            </p>
        </div>
        <div class="card">
            <div class="icon">
                <i class="fas fa-heart"></i>
            </div>
            <h4>Our step towards Society</h4>
            <p>In order to help them lead a healthy life, Medicine donation programs help the poor people, where they can be provided free medicines. And also helps prevention of wastage of medicines and reduces the problems which are caused due to unusual disposal and burning of leftover medicines
            </p>
        </div>
    </section>

    <!-- CARDS.................. -->

    <!-- FOOTER -->

    <footer>
        <div class='footer-container'>
            <section class="footer-subscription">
                <p class="footer-subscription-heading">
                    Join the campaign
                </p>
                <p class='footer-subscription-text'>
                    you can join campaign any time...........
                </p>
                <div class='input-areas'>
                    <form>
                        <input type="email" name="email" placeholder="Your Email" className='footer-input' />

                        <Button buttonStyle='btn--outline'>Subscribe</Button>
                    </form>
                </div>
            </section>
            <div class='footer-links'>
                <div class='footer-links-wrapper'>
                    <div class='footer-links-items'>
                        <h2>About us</h2>
                        <Link to='/sign-up'>How it works..</Link>
                        <Link to='/'>Testimonials</Link>
                        <Link to='/'>Careers</Link>
                        <Link to='/'>Investors</Link>
                        <Link to='/'>Terms of Services</Link>

                    </div>
                    <div class='footer-links-items'>
                        <h2>Contact us</h2>
                        <Link to='/sign-up'>How it works..</Link>
                        <Link to='/'>Testimonials</Link>
                        <Link to='/'>Careers</Link>
                        <Link to='/'>Investors</Link>
                        <Link to='/'>Terms of Services</Link>

                    </div>

                </div>
                <div class='footer-links-wrapper'>
                    <div class='footer-links-items'>
                        <h2>Videos</h2>
                        <Link to='/'>Submit Video</Link>
                        <Link to='/'>Ambassadors</Link>
                        <Link to='/'>Agencys</Link>
                        <Link to='/'>Influencers</Link>

                    </div>
                    <div class='footer-links-items'>
                        <h2>Social Media</h2>
                        <Link to='/'>Instagram</Link>
                        <Link to='/'>Facebook</Link>
                        <Link to='/'>Youtube</Link>
                        <Link to='/'>Twitter</Link>
                        <Link to='/'>LinkedIn</Link>

                    </div>

                </div>

            </div>
            <section class='social-media'>
                <div class='social-media-wrap'>
                    <div class='footer-logo'>
                        <Link to="/" class='social-logo'>
                        medicine donation system <i class='fab fa-typo3'></i>
                        </Link>

                    </div>
                    <small class='website-rights'>Medicine Donation System @2021</small>
                    <div class='social-icons'>
                        <Link class="social-icon-link facebook" to="/" target="_blank" aria-label='Facebook'>
                        <i class="fab fa-facebook-f"></i>
                        </Link>
                        <Link class='social-icon-link instagram' to="https://www.instagram.com/" target="_blank"
                            aria-label='Instagram'>
                        <i class='fab fa-instagram'></i>
                        </Link>
                        <Link class='social-icon-link twitter' to="/" target="_blank" aria-label='Twitter'>
                        <i class='fab fa-twitter'></i>
                        </Link>
                        <Link class='social-icon-link youtube' to="/" target="_blank" aria-label='Youtube'>
                        <i clase='fab fa-youtube'></i>
                        </Link>
                        <Link class='social-icon-link linkedin' to="/" target="_blank" aria-label='LinkedIn'>
                        <i class='fab fa-linkedin-f'></i>
                        </Link>
                    </div>
                </div>

            </section>

        </div>
    </footer>
    <!-- FOOTER......... -->
</body>

</html>